<div class="container">
  <h1> Slacker News</h1>

<% if current_user %>
<a href="/posts/create">New Post</a>
<% end %>

<ul>
<% @posts.each do |post| %>
<li><a href= "/posts/<%= post.id %>"><%= post.title %></a><br>Upvotes: <%= post.votes.where(up:true).count %></li><ul>
  <li><%= post.user.name %>  <%= post.comments.count %> <a href='/posts/<%= post.id %>'>comments</a></li></ul></li>
<% end %>
</ul>



</div>
