<ul><a href='/'>Home</a></ul>

<h1> <%= @post.title %> </h1>

<% if @post.url %>

  <p><a href='<%=@post.url%>'><%= @post.url %></a></p>

<% else %>

  <p><%= @post.body %><p>

<% end %>

<form action="/votes/posts/<%= @post.id %>" method="POST">
  <select name="vote_choice">
    <option value="true">UP</option>
    <option value="false">DOWN</option>
  </select>
  <input type="submit" value="Vote">
</form>
    

<form action="/post/<%= @post.id %>/comment/create" method="post">
          
          <textarea name="comment[body]" cols="40" rows="7">Write your comment...sometime</textarea>
          <br><br>
          <input type="submit" value="Create Comment">
</form>


<% if @comments %>
  <ul>
    <% @comments.each do |comment| %>
    <li><%= comment.body %>  
    <br>
    <form action="/votes/comments/<%= comment.id %>" method="POST">
      <select name="vote_choice">
        <option value="true">UP</option>
        <option value="false">DOWN</option>
      </select>
        <input type="submit" value="Vote">
    </form>

    <% end %>
  </ul>
<% end %>
